[submodule "iir1"]
	path = iir1
	url = https://github.com/berndporr/iir1.git
[submodule "Gamma"]
	path = Gamma
	url = https://github.com/LancePutnam/Gamma.git
[submodule "q"]
	path = q
	url = https://github.com/cycfi/q.git
